.con {
  background-color: blue;
  width: 400px;
  height: 600px;
  /* background-image: ; */
  /* padding: 10px; */
}
.item1 {
  display: inline-block;
  /* margin: 10px; */
  /* background-color: aqua; */
  width: 100px;
  height: 100px;
}
.item1 img {
  width: 100%;
  height: 100%;
}
