header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}
nav {
  padding: 20px;
}
ul {
  gap: 15px;
  list-style: none;
}
ul a {
  text-decoration: none;
  color: #535050;
}
.main_headr {
  padding: 80px 0;
}

.headrflex1 {
  gap: 20px;
}
.headrflex1 h1 {
  font-size: 40px;
  color: #3e4450;
}
.headrflex1 h2 {
  color: #858ea1;
}
.headrflex1 a {
  background: #5fcf80;
  color: white;
  border-radius: 10px;
}
.headrflex1 i {
  font-size: 60px;
  /* font-weight: 600; */
}
.headrflex1 span {
  font-size: 30px;
  color: #3e4450;
}
.main_headrflex img {
  animation: up-down 1.5s ease-in-out infinite alternate;
}

.services_title h2 {
  font-size: 50px;
}
.services_title p {
  font-size: 20px;
}
.item i {
  font-size: 90px;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.item-services {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.icon-box {
  padding: 20px;
  color: #5f687b;
  background: #f9f9fa;
  border-radius: 4px;
  border: 1px solid #f9f9fa;
  height: 100%;
}
h3 {
  transition: 0.3s;
  font-weight: 700;
  font-size: 32px;
  color: #5f687b;
}
h3:hover {
  color: #5fcf80;
}
p {
  font-style: italic;
  padding-bottom: 5px;
}
.icon {
  font-size: 40px;
  margin: 0 0 15px 0;
  color: #5fcf80;
}

.counts {
  /* width: 100%; */
  padding: 30px 0;
  /* background-color: #f6f7f6; */
}
.con_count {
  /* margin: 0 86px; */
  /* padding: 0 12px; */
}
.row_count {
  display: flex;
  flex-wrap: wrap;
}
.col_count {
  flex: 0 0 auto;
  width: 25%;
  text-align: center;
}
.row_count .col_count span {
  font-size: 48px;
  display: block;
  color: #5fcf80;
  font-weight: 700;
}
.row_count .col_count p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}
.icon_services {
  color: #5fcf80;
  font-size: 40px;
  margin: 0 0 15px 0;
}
.cta {
  background: #5fcf80;
  background-size: cover;
  padding: 60px 0;
  margin-top: 40px;
  color: white;
}
.cta h3 {
  color: white;
}
.cta a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px 60px;
  border-radius: 3px;
  transition: 0.5s;
}
.cta a:hover {
  background-color: blue;
  border: none;
}

/* trainar  */
.trainar_course {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trainar_course1 {
  display: flex;
  align-items: center;
}
.trainar_course1 img {
  max-width: 50px;
  border-radius: 50px;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
  height: auto;
}
.trainar_course1 span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}
.trainar_course2 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.trainars {
  padding: 60px 0;
  overflow: hidden;
}
.con_trainars {
  margin: 0 85.6px;
  padding: 0 12px;
}
.row_trainars {
  display: flex;
  flex-wrap: wrap;
}
.col_trainars {
  display: flex;
  width: 33.333333%;
  align-items: stretch !important;
  flex: 0 0 auto;
  padding: 0 12px;
}
.membr {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}
.membr img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin: -1px -1px 30px -1px;
}
.membr_content {
  padding: 0 20px 30px 20px;
}
.membr_content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
}
.membr_content span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
.membr_content p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
  margin-bottom: 1rem;
}
.social_trainars {
  margin-top: 15px;
}
.social_trainars a {
  color: #7e9486;
  /* border: 1px solid red; */
  transition: 0.3s;
}
.social_trainars a:hover {
  color: #5fcf80;
}

@media (max-width: 992px) {
  .list {
    display: none;
  }
  .icon {
    display: block !important;
  }
  nav {
    padding: 3px !important;
  }
  .about-con {
    padding: 20px !important;
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 3px !important;
  }
  .list {
    display: none;
  }
  /* .icon-box {
    text-align: center;
  } */
  .icon {
    display: block !important;
  }
  .main_headrflex {
    flex-wrap: wrap;
    width: 100%;
  }
  .headrflex1 {
    margin-bottom: 10px;
    width: 100% !important;
    justify-content: center;
    align-content: center;
  }
  .headrflex1 {
    order: 2;
  }
  .main_headrflex img {
    order: 1;
  }
  .item-services {
    width: 100%;
    margin: 5px 0;
  }
  .about-conten {
    gap: 10px;
  }
  .about-img {
    width: 100% !important;
  }
  .about-describtion {
    width: 100% !important;
    margin: auto;
  }
  .about-icon {
    color: #5fcf80;
  }
  .col_count {
    width: 50%;
  }
  .col_trainars {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .col_count {
    width: 100%;
  }
}
